
/* font family */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400;500;700&display=swap');




body{
    font-family: 'Roboto', sans-serif;
}



h1,h2,h4,h6{
    font-family: 'Bebas Neue', cursive;
}

a{
    text-decoration: none;
}

/* hero section  */

ul li a{
    font-size: 1rem;
    font-weight: 600;
    color: #3C3C3C;
}

.hero-section{
    background-color: #FFFBF0;
}



.btn-custom{
    background-color: #A4BC46;
    color: white;
    border: 2px solid transparent;
    transition: .3s ease;
    
}



.hero .hero-content h1{
    font-size: 4rem;
    color: #FABE4C;
}
.hero .hero-content h1 span{
   
    color: #363958;
}

.btn-custom:hover{
    border: 2px solid #A4BC46;
    background-color: transparent;
    color: #A4BC46;
}


/* start product-gallery section  */


.product-gallery .gallery-content .product-card{
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.068);
    padding: 20px;
    /* width: 330px; */
    border-radius: 10px;
    transition: .3 ease-in-out;
    
}
.image-wrapper{
    overflow: hidden;
    background-color : #F1F1F1;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}
.product-gallery .gallery-content .product-card:hover img{
    
    transform: scale(1.2);
    
}
.product-gallery .gallery-content .product-card img{
 
    transition: .3s ease-in-out;
    
}
.product-gallery .gallery-content h2{
    color: #363958;
    font-size: 2.5rem;
}

.product-card-content {
    text-align: left;
}

.product-card-content h3{
    font-size: 1.1rem;
    color: #363958;
    font-weight: 600;
}
.product-card-content p{
    font-size: .8rem;
    color: #3E3E3E;
    font-weight: 400;
}
.product-card-content a span{
    font-size: 2rem;
    color: #FABE4C;
    font-weight: 600;
}

.man-jacket{
    margin-top: 70px;
}



/* bottom section staring  */
.bottom-section{
    margin-top: 80px;
}
.menu-card{
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.068);
    border-radius: 5px;
    width: 450px;
}
.menu-card .image-part{
    padding-right: 10px;
}
.menu-card h5{
    font-size: 1rem;
}
.menu-card p{
    font-size: .8rem;
}





/* responsive code  */

@media (max-width : 990px) {
    .menu-card{  
        width: 100%;
    }
    .bottom-image{
        text-align: center;
        margin-top: 40px;
    }
    .bottom-image img{
        width: 350px;
    }
    .hero-image{
        width: 300px;
    }
    .navbar-brand img{
        width: 150px;
    }
    .hero .hero-content h1{
        font-size: 2.5rem;
        
    }
}
@media (max-width : 402px) {
    .hero .hero-content h1{
        font-size: 3rem;
        
    }
}